section {
    background-color: #0496ff;
    color: #fff;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 29px 0 66px 0;
}

h1 {
  font-size: 58px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 31px;
}

.container {
    display: flex;
    justify-content: center;
    gap: 90px;

  .card {
    max-width: 247px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
    flex-direction: column;
    border-radius: 8px;

    .title {
        font-size: 36px;
        font-weight: bold;
    }

    .subtitle{
        font-size: 16px;
        font-weight: bold;
    }

    .description {
        font-size: 13px;
        font-weight: 500;
        text-align: center;
    }
  }
}
