.container {
    background-color: #0496FF;
    text-align: center;
    color: #fff;
}

.title {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 400px;
}

.box {
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 60px;
    flex-wrap: wrap;
    max-width: 250px;
}

