* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}

.container {
  background-color: #f5f5f5;
  width: 100%;
  height: 817px;
  position: relative;
  background-image: url("/assets/img-inicio.png");
  background-repeat: no-repeat;
  background-size: cover;

  div {
    position: absolute;
    left: 120px;
    bottom: 40%;
    background-position: center;
    display: flex;
    align-items: center;
    flex-direction: column;

    h1 {
      color: white;
      font-weight: bold;
      font-size: 58px;
    }
  }
}

.container button {
  outline: none;
  border: none;
  background-color: #ff9500;
  border-radius: 20px;
  color: #f5f5f5;
  margin: 20px;
  padding: 16px 39px;

  a {
    font-size: 16px;
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
}

.container button:hover {
  filter: brightness(0.8);
}
