* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: DM Sans, sans-serif;
    background-color: #F5F5F5;
}

.h1 {
    color: #F5F5F5;
}

.container {
    background-image: url('/assets/img-inicio.png');
    object-fit: cover;
    width: 100%;
    height: 417px;
}