.container {
  text-align: center;
  background-color: #ffffff;
  padding-top: 4rem;
  position: relative;
}

.title {
  font-size: 2.2rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
  color: #222;
  padding: 0 2rem;
}

.subtitle {
  font-size: 1rem;
  color: #555;
  margin-bottom: 2rem;
  padding: 0.2rem;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 1.5rem;
  justify-content: center;
  margin-bottom: 2rem;
  max-width: 1200px;
  padding: 2rem;
  margin-left: auto;
  margin-right: auto;
}

.card {
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08);
  color: black;
  padding: 1.5rem;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.12);
}

.icon {
  font-size: 2rem;
  background-color: #ff9800;
  margin: 0.5rem auto;
  border-radius: 50%;
  color: white;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  background-color: #ff9800;
  color: white;
  border: none;
  padding: 0.9rem 2rem;
  border-radius: 25px;
  font-weight: 600;
  cursor: pointer;
  margin-top: 1rem;
  transition: background 0.3s ease;
  text-decoration: none;
}

.button:hover {
  background-color: #e68a00;
}

.contact {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #007bff;
  color: white;
  padding: 2rem;
}

.contact h3 {
  margin-bottom: 1rem;
  color: rgb(248, 248, 248);
}

.contact p {
  margin: 0.3rem 0;
}

.logo {
  width: 80px;
  margin-bottom: 1rem;
}

.whapper {
  position: relative;
  margin-top: 20rem;
}
