.cards {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  gap: 24px;
  justify-content: center;
  max-width: 90%;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 18px;
  margin: 24px auto;
  width: 90%;
  padding: 80px 20px;
}
.ns {
  font-family: "DM Sans", sans-serif;
}
.sub {
  font-family: "DM Sans", sans-serif;
  color: #474747;
}
